.discography__gallery__album{
    margin-top: 2em;
    transition: transform 0.8s;
}

.discography__gallery__album:hover{
    transform: scale(1.08,1.08);
}

@media (max-width:1400px) {
    .discography__gallery{
        display: flex;
        flex-direction: column;
    }
}