main{
    display: grid;
    grid-template-columns: 25% 50%; 
    grid-template-rows: 60% 40%;
}

h3{
    margin-top: 2.5em;
    margin-bottom: 1em;
    color: #FFFFFF;
}

p{
    color: #AADDFF;
}

.history__image{
    margin: 3em
}