h3{
    margin-top: 2.5em;
    margin-bottom: 1em;
    color: #FFFFFF;
}

p{
    color: #AADDFF;
}

.history__image{
    margin: 3em
}

.paragraph{
    transition: transform 0.8s;
}

.paragraph:hover{
    transform: translate(10px,10px);
}