.shows__gallery{
    display: flex;
    flex-wrap: wrap;
}

.shows__gallery__item{
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em;
    display: flex;
}

.shows__gallery__item > img {
    width: 400px;
    height: 400px;
}

.shows__gallery__item__text__container{
    margin-top: 1em;
    margin-left: 1em;
}

.shows__gallery__item__title{
    font-weight: bold;
    color: #AADDFF;
    margin-bottom: 1em;
}

.shows__gallery__item__date{
    color: #EE7070;
    margin-bottom: 2em;
}

.shows__gallery__item__venue{
    font-weight: bold;
}

.shows__gallery__item__venue, .shows__gallery__item__text{
    color: #FFF;
}