.shows__gallery{
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 8% 42% 3% 42% 5%;
    height: 100%;
}

.shows__gallery__item{
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em;
    display: flex;
}

#shows__gallery__item__1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#shows__gallery__item__2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#shows__gallery__item__3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#shows__gallery__item__4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.shows__gallery__item > img {
    width: 400px;
    height: 400px;
}

.shows__gallery__item__text__container{
    margin-top: 1em;
    margin-left: 1em;
}

.shows__gallery__item__title{
    font-weight: bold;
    color: #AADDFF;
    margin-bottom: 1em;
}

.shows__gallery__item__date{
    color: #EE7070;
    margin-bottom: 2em;
}

.shows__gallery__item__venue{
    font-weight: bold;
}

.shows__gallery__item__venue, .shows__gallery__item__text{
    color: #FFF;
}

@media (max-width:1550px) {
    .shows__gallery{
        display: flex;
        flex-direction: column;
    }

    .shows__gallery__item{
        margin-top: 6em;
    }

    .shows__gallery__item > img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:420px) {
    .shows__gallery__item{
        flex-direction: column;
        align-items: center;
        margin-left: 1em;
        margin-top: 5em;
    }

    .shows__gallery__item__text__container{
        text-align: center;
    }
}